![Astrofisica Computacional](../logo.png)

---
## 01. Introducción a SQL


Eduard Larrañaga (ealarranaga@unal.edu.co)

---


### Resumen

En este cuaderno se presenta un manejo básico de SQLite3. 

---

### SQL

SQL (**S**tructured **Q**uery **L**anguage) es un lenguaje estandarizado para almacenar, manipular y obtener información de bases de datos.
 
Este lenguaje es particularmente útil para manipular datos estructurados, i.e. datos que incorporan relacinoes entre entidades y variables.

### Conociendo los datos

En esta lección utilizaremos un archivo de datos utilizado en el curso CS50x de la Universidad de Harvard 

https://docs.google.com/spreadsheets/d/e/2PACX-1vRfpjV8pF6iNBu5xV-wnzHPXvW69wZcTxqsSnYqHx126N0bPfVhq63UtkG9mqUawB4tXneYh31xJlem/pubhtml


(Este curso esta disponible en https://cs50.harvard.edu/x/2021/).

---

La hoja de calculo y la base de datos contiene información de shows en el sitio Netflix.

---
### SQLite

[SQLite](https://www.sqlite.org/index.html) es una libreria construida en lenguaje C que implementa una versión pequeña y rápida de SQL.  Para verificar si ya tiene instalao SQLite en su computador puede utilizar el comando

```
$ sqlite3 --version
```

En caso de no estar instaldo, puede descargarlo de

https://www.sqlite.org/download.html

---

El primer paso para utlizar SQLite es cargar la base de datos utilizando el comando

```
$ sqlite3 shows.db
```

Cuando se carga la información, el promt del sistema se cambiará a  `sqlite>`. 


La estructura de la base de datos se puede obtener con el comando
```
sqlite> .schema
```

La estructura de una tabla particular dentre de la base de datos se obtiene mediante
```
sqlite> .schema stars
```

---
### Estructura de un 'Llamado'  (Query)

Un llamado (query) en SQL consiste de tres partes o bloques: el bloque **SELECT**, el bloque **FROM** y el bloque **WHERE**.

 - El bloque SELECT le dice a la base de datos que columnas se desean obtener. El nombre de cada columna o característica se separa con una coma. 

- El bloque FROM especifica de cual tabla (o tablas) se quiere extraer la información.



Por ejemplo, si se quiere obtener la columna `year` de la tabla `shows`, se utiliza el comando

```
SELECT year FROM shows;
```

Si se quieren obtener las columnas `title` y `year` de la tabla `shows`, se utiliza 


```
SELECT title, year FROM shows;
```


Cuando se quieren seleccionar TODAS las columnas de una tabla, se utiliza

```
SELECT * FROM shows;
```




- El bloque WHERE permite especificar alguna(s) característica(s) para restringir la busqueda. La lista de especificaciones debe estar separada por operadores booleanos.


Suponga que se quiere restringir la busqueda a un show particular definiendo su titulo. 

```
SELECT * FROM shows WHERE title='Black Mirror';
```

Ahora intentamos algunos comandos básicos en SQLite.


1. Mostrar la estructura de la base de datos
```
sqlite> .schema
```

2. Mostrar la estructura de una tabla particular en la base de datos
```
sqlite> .schema stars
```

3. Selecciona todas las características de una tabla (en general puede ser mucha información!)
```
SELECT * FROM shows;
```

4. Cuántas entradas se tienen con las características buscadas?
```
SELECT COUNT(*) FROM shows;
```

5. Seleccionar una muestra particular de la lista (e.g. con un titulo específico)
```
SELECT * FROM shows WHERE title = 'Black Mirror';
```

6. Seleccionar los primeros N resultados en una busqueda
```
SELECT title, year FROM shows WHERE year = 2019 LIMIT 5;
```

7. En algunas ocasiones , una busqueda específica puede retornar varios resultados,
```
SELECT * FROM shows WHERE title = 'The Office';
```

8. Seleccionar muestras con una parte de texto,
```
SELECT * FROM shows WHERE title LIKE '%Things%';
```

9. Selecionar muestras mediante una especificación de valores numéricos
```
SELECT * FROM shows WHERE year > 2020;
```

10. Seleccionar una muestra con una característica que no se espcifica completamente
```
SELECT year FROM shows WHERE title LIKE 'Stranger Things';
```

11. Ordenar la selección de acuerdo con una característica
```
SELECT * FROM shows WHERE title LIKE 'Doctor Who%' ORDER BY year;
```

```
SELECT * FROM shows WHERE title LIKE 'Doctor Who%' ORDER BY year DESC;
```

```
SELECT * FROM shows WHERE title LIKE 'Doctor Who%' ORDER BY year DESC LIMIT 10;
```

12. Incluir operadores booleanos en la busqueda
```
SELECT * FROM shows WHERE year > 1990 AND year < 2000 ;
```
```
SELECT * FROM shows WHERE year BETWEEN 1990 AND 2000 ;
```
```
SELECT id FROM shows WHERE title='Stranger Things' AND year = 2016;
```

13. Busqueda involucrando más de una tabla
```
SELECT * FROM genres WHERE show_id = 4574334;
```

Esta busqueda se puede realizar más automáticamente mediante 
```
SELECT * FROM genres WHERE show_id = (SELECT id FROM shows WHERE title='Stranger Things' AND year = 2016);
```

14. Para salir de SQLite, se hace
```
.quit
```

---
### Ejercicios

1. Cuantos shows tienen un rating perfecto de 10.0?

2. Cuantos episodios tiene el show 'Black Mirror'?

3. Cuantos shows hay en el genero de Sci-Fi?

4. Cual es el show con mejor rating en el genero de Horror?

5. Cuantos shows del genero Animation hay en la base de datos?

6. Cuales son los 10 shows con peor rating en el genero de animación entre el 2005 y el 2010?